@import url(http://fonts.googleapis.com/css?family=Leckerli+One);
@import url(http://fonts.googleapis.com/css?family=Fondamento);
div {
  background-color:#FFC833;
}

img {
  margin : auto;
  display : block;
}

h1 {
  color: #FF4146;
  font-family: "Leckerli One", cursive;
  font-size: 40px;
  line-height: 150px;
  font-weight: normal;
  margin-bottom: 0px;
  margin-top:0px;
  text-align: center;
  text-shadow:0 1px 1px #BA5009;
}

p {
  color: #205A98;
  font-size: 18px;
  font-family: Garamond;
  line-height: 45px;
  text-align: center;
  padding-top:0px;
  line-height: 30px;
}

p.byline {
  font-style: italic;
  color: #FF4146;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  text-shadow: 0 1px 1px #BA5009;
}

p.title {
  color: white;
  font-weight: heavy;
  font-size: 20px;
  margin-top: 0px;
  text-align: center;
  text-shadow: 0 1px 1px #BA5009;

}
